/* here you can put your own css to customize and override the theme */
// .page-content { padding-left: 15px; padding-bottom: 15px; padding-right: 15px; }
// .page-content { padding: 15px; } 

.icon-facebook { background-image: url("../img/facebook.png"); }
.icon-line { background-image: url("../img/line.png"); }
.icon-lazada { background-image: url("../img/lazada.png"); }
.icon-web { background-image: url("../img/web.png"); }

.item-stat-title {
  color: #7f90a4;
  font-size: 11px;
  font-weight: 800;
  text-align: center;
}

.item-stat-detail {
  color: #7f90a4;
  font-size: 18px;
  text-align: center;
}

#order .order-sidebar {
  float: left;
  width: 230px;
  margin-right: 20px;
}

#order .order-content {
  overflow: hidden;
}

#order .order-status-list ul li a {
  font-size: 14px !important;
  padding: 8px 10px;
}

#order .order-status-list .nav li a .badge {
  float: right;
  margin-top: 1px !important;
}

#order .order-status-list .nav > li.active > a {
  color: #3f444a;
  background-color: #f1f4f7 !important;
}

.my-table tbody tr td.col-checkbox { width: 20px; }
.my-table tbody tr td.col-icon { width: 20px; }
.my-table tbody tr td.col-order-id { width: 120px; min-width: 120px; }
.my-table tbody tr td.col-phone { width: 120px; min-width: 120px; }
.my-table tbody tr td.col-price { width: 100px; min-width: 100px; }
.my-table tbody tr td.col-date { width: 100px; min-width: 100px; }
.my-table tbody tr td.col-action { width: 60px; min-width: 60px; }
.my-table tbody tr td.col-icon { width: 20px; }
.my-table tbody tr td.col-quantity { width: 100px; min-width: 100px; }
.my-table tbody tr td.col-price { width: 100px; min-width: 100px; }
.my-table tbody tr td.col-status { width: 60px; min-width: 60px; }

#product .product-sidebar {
  float: left;
  width: 230px;
  margin-right: 20px;
}

#product .product-content {
  overflow: hidden;
}

#product .product-status-list ul li a {
  font-size: 14px !important;
  padding: 8px 10px;
}

#product .product-status-list .nav li a .badge {
  float: right;
  margin-top: 1px !important;
}

#product .product-status-list .nav > li.active > a {
  color: #3f444a;
  background-color: #f1f4f7 !important;
}

.mt-checkbox-list .mt-checkbox:last-child { margin-bottom: 0; }